body {
	background-color: #232323;
}

span {
	color: white;
}

h1 {
	color: white;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.square {
	width: 30%;
	float: left;
	padding-bottom: 30%;
	margin: 1.66%;
}

.hidden {
	background-color: #232323;
}